<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap-3.3.7-dist/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap-3.3.7-dist/css/override.css') }}">
<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-3.3.7-dist/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>

<title>UIG server</title>
</head>
<body>
<!-- Body -->
<div class="bodyDiv">
  <button class="bodyBtn" id="openChat" onclick="openChat()">Chit-chat</button><button class="bodyBtn" onclick="openChat()">Chit-chat</button><button class="bodyBtn" onclick="openChat()">Chit-chat</button><button id="logoutBtn" class="bodyBtn" onclick="logout()">Log-Out</button>
</div>
<!-- END OF BODY -->

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="loginContent">
      <div class="modal-header" id="loginTitle">
        <h4 class="modal-title"><center>Login</center></h4>
      </div>
      <div class="modal-body" id="loginBody">
      	<form>
	  	  <input type="text" class="form-control log" id="login" placeholder="Username">
	  	  <div class="input-group" id="pswrdGroup">
		    <input type="text" class="form-control log" id="pswrd" placeholder="Password">
		    <span class="input-group-addon" id="pswrdBtn"><img src="../static/img/enter.png" height="16" width="16"/></span>
		  </div>
      	</form>
      	<div id="reg"><a href="#" id="register">register</a></div>
      </div>
    </div>
  </div>
</div>
<!-- End of login Modal -->

<!-- Registration Modal -->
<div class="modal fade" id="regModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="regContent">
      <div class="modal-header" id="regTitle">
        <button type="button" class="close" id="regClose" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><center>Registration</center></h4>
      </div>
      <div class="modal-body" id="regBody">
      	<form>
	  	  <input type="text" class="form-control log" id="regLog" placeholder="Username">
	  	  <input type="text" class="form-control log" id="regPswrd" placeholder="Password">
	  	  <div class="input-group" id="pswrdGroup">
		    <input type="text" class="form-control log" id="regConf" placeholder="Confirm password">
		    <span class="input-group-addon" id="regBtn"><img src="../static/img/enter.png" height="16" width="16"/></span>
		  </div>
      	</form>
      </div>
    </div>
  </div>
</div>
<!-- End of registration Modal -->

<!-- Chat Modal -->
<div class="modal fade" id="chatModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="chatContent">
      <div class="modal-header" id="chatTitle">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><center>The Messenger 2012</center></h4>
      </div>
      <div class="modal-body" id="chatBody">
      	<textarea class="form-control" id="chat-area" rows="18" readonly resize=none>{% for message in chat %}{{message}}{% endfor %}</textarea>
      	<div class="input-bar">
        <div class="input-bar-item width100">
          <form>
            <div class="input-group">
              <input class="form-control width100" id="msg" autocomplete="off" placeholder="Enter your message here" autofocus>
              <span class="input-group-btn">
                <button type="button" class="btn" id="sendMsg" onclick="sendChat()"><img src="../static/img/submit.png" height="16" width="16"/>
                </button>
              </span>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of chat modal-->

</body>
</html>
